.form_element{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* align-content: center; */
}

.mainForm {
    display: flex;
}