.question_wrapper {
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button {
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    padding: 0;
    border: none;
    line-height: 42px;
    outline: none;
}